@model IEnumerable<restaurante.Models.Item>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menú Gourmet</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/menu-styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Nuestro Menú Gourmet</h1>

        <!-- Filtro por categorías -->
        <form method="get" asp-action="Index">
            <div class="form-group">
                <label for="categoriaId">Filtrar por Categoría:</label>
                <select class="form-control" id="categoriaId" name="categoriaId" onchange="this.form.submit()">
                    <option value="">Todas las categorías</option>
                    @foreach (var categoria in (IEnumerable<SelectListItem>)ViewData["Categorias"])
                    {
                        if (Context.Request.Query["categoriaId"] == categoria.Value)
                        {
                            <option value="@categoria.Value" selected="selected">@categoria.Text</option>
                        }
                        else
                        {
                            <option value="@categoria.Value">@categoria.Text</option>
                        }
                    }
                </select><br />



            </div>
        </form>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100" onclick="location.href='@Url.Action("Details", new { id = item.IdItem })'">
                        <div class="card-img-container">
                            <img src="@Url.Content(item.ImagenUrl)" class="card-img-top" alt="Imagen de @item.Nombre">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre</h5>
                            <p class="card-text">@item.Descripcion</p>
                            <p class="card-text"><strong>Precio:</strong> @item.Precio.ToString("C")</p>
                            <p class="card-text"><strong>Categoría:</strong> @item.IdCategoriaNavigation.Nombre</p>
                            <p class="card-text"><strong>Tiempo de preparación:</strong> @item.TiempoPreparacion min</p>
                            <p class="card-text">
                                <strong>Disponible:</strong>
                                @(item.Disponible == null ? "Consultar" : (item.Disponible.Value ? "Sí" : "No"))
                            </p>
                        </div>
                        <div class="card-footer">
                            @if (User.IsInRole("administrador") || User.IsInRole("personal"))
                            {
                                <div class="button-container">
                                    <a href="@Url.Action("Edit", new { id = item.IdItem })" class="btn btn-primary">Editar</a>
                                    <a href="@Url.Action("Delete", new { id = item.IdItem })" class="btn btn-primary">Eliminar</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (User.IsInRole("administrador") || User.IsInRole("personal"))
        {
            <div class="text-center mt-4">
                @Html.ActionLink("Añadir Nuevo Plato", "Create", "Items", null, new { @class = "btn btn-primary btn-lg" })
                @Html.ActionLink("Exportar a Excel", "ExportToExcel", "Items", null, new { @class = "btn btn-success btn-lg ms-2" })
            </div>
        }
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
